name: CI Pipeline - Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '*/5 * * * *'  # runs every 5 minutes
  workflow_dispatch:   # allows manual run


jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Set up Maven
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Build with Maven
      run: mvn clean test

    - name: Upload Extent Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Extent-Report
        path: test-output/ExtentReport.html

    - name: List test-output folder
      if: always()
      run: |
        echo "Current directory:"
        pwd
        echo "Listing files:"
        ls -R